tmp/
libro
*.syso
node_modules/
libro.db*
.codex
.gocache
internal/desktopbundledata/electron-app/package.json
internal/desktopbundledata/electron-app/electron/
internal/desktopbundledata/electron-runtime/*.zip
