tmp/
__debug*
libro
dist/
*.syso
node_modules/
libro.db*
.codex
.gocache
.cache/
macos/
todo.md
internal/desktopbundledata/electron-app/package.json
internal/desktopbundledata/electron-app/package-lock.json
internal/desktopbundledata/electron-app/electron/
internal/desktopbundledata/electron-app/winres/
internal/desktopbundledata/electron-runtime/*.zip
